@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deepred: #ff0000;
  --gold: #ffd700;
  --creamywhite: #f5f5f5;
  --nightblue: #0101fc;
  --jetblack: #1a1a1a;
  --lightjetblack: #252525;
  --silver: #c0c0c0;
}

body {
  background-color: var(--jetblack, #1a1a1a);
  color: var(--creamywhite, #f5f5f5);
}

.main,
aside {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--lightjetblack, #252525);
}

nav {
  display: flex;
  padding: 0px 10px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 72px;
  height: 45px;
}

aside {
  padding: 10px;
}

select {
  color: var(--creamywhite, #f5f5f5);
  background-color: var(--lightjetblack, #252525);
  padding: 10px;
}

@layer components {
  .topairing {
    @apply p-1 font-extrabold text-black;
  }

  .topairing3 {
    @apply bg-deepred text-white;
  }
  .topairingother {
    @apply text-white outline outline-creamywhite;
  }
}
.topairing1 {
  background-color: var(--gold);
}
.topairing2 {
  background-color: var(--silver);
}
.topairing3 {
  background-color: var(--deepred);
  color: white;
}
.topairingother {
  color: white;
  outline: solid 1px var(--creamywhite);
}
