@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deepred: #ff0000;
  --gold: #ffd700;
  --creamywhite: #f5f5f5;
  --nightblue: #0101fc;
  --jetblack: #1a1a1a;
  --lightjetblack: #252525;
  --silver: #c0c0c0;
}

body {
  background-color: var(--jetblack, #1a1a1a);
  color: var(--creamywhite, #f5f5f5);
}

.main,
aside {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--lightjetblack, #252525);
}

nav {
  display: flex;
  padding: 0px 10px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 72px;
  height: 45px;
}

aside {
  padding: 10px;
}

select {
  color: var(--creamywhite, #f5f5f5);
  background-color: var(--lightjetblack, #252525);
  padding: 10px;
}

.topairing {
  padding: 0.25rem;
  font-weight: 800;
  color: black;
}

.topairing1 {
  background-color: var(--gold);
}
.topairing2 {
  background-color: var(--silver);
}
.topairing3 {
  background-color: var(--deepred);
  color: white;
}
.topairingother {
  color: white;
  outline: solid 1px var(--creamywhite);
}

@layer components {
  .menu-comp {
    @apply transition delay-150 ease-in-out max-lg:absolute max-lg:top-[100px] max-lg:z-10 max-lg:min-h-screen max-lg:w-screen max-lg:-translate-x-[100vw] max-lg:bg-lightjetblack;
  }

  .menu-comp.open {
    @apply max-lg:-translate-x-0;
  }

  .air-comp {
    @apply fixed top-[100px] z-10 h-screen -translate-x-[100vw] overflow-scroll bg-lightjetblack transition delay-150 ease-in-out max-lg:w-screen lg:w-[400px];
  }

  .air-comp.open {
    @apply -translate-x-0;
  }
}
